.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column !important;
  align-items: center;
  margin: 0;

}

.currency{
  padding: .75rem;
  background-color: whitesmoke !important;
  border-radius: 0.5rem;
  margin: .5rem 0;
  font-weight: bold;
  font-size: 16px;
  color: #333;
  
}
body{
  height: 100vh;
  background-color:#161616;
  justify-content: center;
  align-items: center;
  display: flex;
}
  

.coin-logo{
  width: 80px;
  height: 100%;
  display: grid;
  place-items: center;
}
.coin-logo img{
  width: 70%;
  height: 70%;
}

.negative-change {
  color: red;
}

.positive-change {
  color: green;
}
/*
.currency {
  display: flex;
  align-items: center;
}

.coin-logo {
  margin-right: 10px;
}

.value {
  margin-right: 10px;
}

.negative-change {
  color: red;
}

.positive-change {
  color: green;
}
*/
